

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    /* background-color: #212121 !important; */
  }


#authenticationBtn {
    position: absolute;
    top: 50%;
    left: 40%;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.imageUploader{
    margin:  1.5rem;
}
